#dashboard-main {
    margin: 7.5vh 0 0 0;
    padding: 0 2.5% 0 2.5%;
}

#dashboard-title {
    margin: 0;
    font-weight: 800;
    letter-spacing: 5px;
}

#dashboard-intro {
    margin: 1rem 0 3rem 0;
    font-weight: 100;
    color: #bdbdbd;
    font-size: 14px;
    letter-spacing: 2px;

}

.dashboard-main-cont {
    overflow: auto;
    max-height: 60vh;
}

.dashboard-main-cont::-webkit-scrollbar { 
    display: none;
}


/* MOVE TO OWN FILE */
.card-fab {
    position: relative;
    z-index: 1;
}

.card-fab a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content,
.card.small .card-image + .card-fab + .card-content,
.card.medium .card-image + .card-fab +.card-content,
.card.large .card-image + .card-fab + .card-content {
  max-height: 40%;
}

.card-content {
    text-transform: capitalize;
}

.room-card-location {
    font-size: 1rem;
}

.card-image-overlay {
    display: block;
    position: relative;
    cursor: pointer;
}

.card-image-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,
     rgba(118, 0, 255, 0.9),
    rgb(255, 255, 255, 0.5));
    /*
    background: linear-gradient(
    rgba(118, 0, 255, 0.5), 
    rgba(118, 0, 255, 0.8));*/
}

.room-btn {
    background-color: #7c4dff ;
}