

.avatar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-avatar {
    margin-right: 0.5rem;
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    border-radius: 50%;
    width: auto;
}

#user-name {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 1px;
}

.log-out-cont {
    cursor: pointer;
}