#dashboard-main {
    margin: 7.5vh 0 0 0;
    padding: 0 4% 0 4%;
}

#dashboard-title {
    margin: 0;
    font-weight: 800;
    letter-spacing: 5px;
}

#dashboard-intro {
    margin: 1rem 0 3rem 0;
    font-weight: 100;
    color: #bdbdbd;
    font-size: 14px;
    letter-spacing: 2px;

}

.dashboard-main-cont {
    overflow: auto;
    max-height: 60vh;
}

.dashboard-main-cont::-webkit-scrollbar { 
    display: none;
}