#dashboard-settings {
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 0 1rem 0;
    min-height: 100vh;
}

#dashboard-settings-top {
    text-align: center;
    color: #ffffff;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid #ac73ff;
}

#dashboard-settings-top svg {
    opacity: 0.5;
    margin-top: 0.5rem;
}

.avatar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-avatar {
    margin-right: 0.5rem;
    max-height: 35px;
    max-width: 35px;
    border-radius: 50%;
    width: auto;
}

#user-name {
    font-size: 14px;
    opacity: 0.8;
    font-weight: 100;
    letter-spacing: 1px;
}

.log-out-cont {
    cursor: pointer;
}