#dashboard-clock {
    color: #ffffff;
    padding-top: 0.5rem;
}

#dashboard-clock h3 {
    font-size: 3rem;
    letter-spacing: 2px;
    opacity: 0.3;
    font-weight: 300;
    margin-right: 1rem;
}