#dashboard-menu {
    margin: 10vh 0 10vh 0;
    height: 80vh;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 25% !important;
    border-right: 1px solid #e0e0e0;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.menu-item-active {
    border-right: 1px solid #b388ff;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.menu-item-active svg {
    stroke: #b388ff !important;
}

.menu-item svg {
    stroke: #bdbdbd;
    z-index: -1;
}

.menu-item:hover {
    opacity: 1;
}

.menu-item:hover svg {
    stroke: #b388ff !important;
}