
#login-bg {
    height: 100%;
    background: linear-gradient(to right,
    rgba(166, 81, 223, 0.8),
    rgba(128, 26, 245, 0.8)),
    url("/img/login/login.jpg");
    background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    transform: scale(1.1);
}

#logo {
    color: #ffffff;
    text-transform: lowercase;
    margin: 7.5rem 0 0.5rem 0;
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 3.5rem;
}

#logo-slogan {
    color: white;
    margin-top: 0;
    letter-spacing: 1px;
    font-weight: 100;
    opacity: 0.5;
}

#login-logo {
    text-align: center;
    font-size: 2.5rem;
    display: none;
}

#login-logo a {
    color: #e23e57;
}

#login-bg-cont {
    background: linear-gradient(
    rgba(118, 0, 255, 0.5),
    rgb(141, 58, 235, 1)),
    url("/img/login/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%; 
    min-height: 300px;
    padding-top: 4rem;
    z-index: 9999;
}

#login-form-cont {
    background: linear-gradient(
    rgba(141, 58, 235, 1),
    rgb(141, 58, 235, 1));
    min-width: 25rem;
    max-width: 33vw;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    padding-bottom: 3rem;
    margin-bottom: 5vh;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

#login-form-cont input {
    color: #ffffff;
    opacity: 0.9;
}

#login-form-cont input::placeholder {
    font-weight: 100;
    opacity: 0.9;
}

#login-form-cont input:focus {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}
  
#login-form-cont input:focus + label {
    color: #ffffff;
}

#login-form-cont h4 {
    font-weight: 100;
    margin-top: 0;
    color: #212121;
}

#login-error {
    font-size: 1.25rem;
    color: #e53935;
}

#login-btn {
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100px;
}

#login-signup {
    color: #ffffff;
    font-weight: 100;
    opacity: 0.5;
    font-size: 0.9rem;
}

.login-row {
    margin: 2rem 0 5rem 0;
}

.disabled-btn {
    opacity: 0.3 !important;
    background: #ffffff !important;
}

.disabled-btn {
    opacity: 0.4;
}