
#room-admin-cont .tabs li a svg {
    margin-top: 0.75rem;
}

#room-admin-cont {
    margin-top: 5vh;
}

.room-admin {
    background-color: #ffffff;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    max-height: 75vh;
    overflow-y: auto;
    padding: 5rem;
}

.room-admin h3 {
    font-weight: 800;
    letter-spacing: 4px;
}

#room-activate-admin h5 {
    font-weight: 100;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    color: #bdbdbd;
    letter-spacing: 1px;
}

#room-activate-admin h5 span {

}

#room-activate-admin button {
    margin: 5rem 0 7.5rem 0;
    padding: 2rem 5rem;
}

#room-activate-admin a {
    font-weight: 100;
    color: #212121;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #7c4dff;
}

#room-settings-admin {
    position: relative;
}

#room-settings-admin .switch {
    float: left;
    padding-bottom: 0rem;
}

#select-room-type p {
    display: inline-block;
    margin-right: 2rem;
}

#room-settings-admin h5 {
    margin-bottom: 0rem;
}

#room-settings-admin .settings-description {
    font-size: 0.9rem;
    color: #bdbdbd;
    font-weight: 100;
    max-width: 70%;
    margin: 3rem auto 5rem auto;
    display: block;
}

#room-settings-admin p {
    margin-top: 0;
    display: inline-block;
    margin: 0 1rem;
}

.settings-row {
    padding: 1rem 0 4rem 0;
    border-bottom: 1px solid #eeeeee;
}

.room-settings-col .room-option {
    padding: 4rem 1rem 4.5rem 1rem;
    transform: scale(1.01);
    margin-bottom: 2rem;
}

.room-settings-col .room-option h5 {
    font-size: 1rem;
}

.disabled-option {
    opacity: 0.3;
    transition: 0.3s ease-in-out;
}

.disabled-option:hover {
    opacity: 1;
}

#save-room-admin-settings {
    box-shadow: 0 -4px 4px -4px rgb(153, 153, 153);
    position: sticky;
    position: -webkit-sticky; /* Safari */
    bottom: 0;
    height: 5rem;
    padding: 1.1rem 2rem;
    width: 100%;
    background-color: #f5f5f5;
}

#save-room-admin-settings-btn, #cancel-room-admin-settings-btn {
    box-shadow: none;
    border: 2px solid #00e988;
    color: #ffffff;
    background-color: #00e988;
    line-height: 0;
    padding: 1.3rem 2.2rem;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 2rem;
    min-width: 9.5rem;
    max-width: 9.5rem;
}

#cancel-room-admin-settings-btn {
    background-color: transparent;
    border: 2px solid #bdbdbd;
    color: #bdbdbd;
    opacity: 0.5;
}

#room-settings-admin .collapsible-header h5 {
    margin: 0;
    opacity: 0.5;
    padding: 1rem;
    text-align: left;
}

#room-settings-admin .select-days-cont p {

}

.cover-preview-admin {
    min-height: 25rem !important;
    width: 75% !important;
    cursor: pointer;
    margin: 0 auto;
}

#leaflet-map-cont {
    height: 180px;
}

@media (max-width: 600px) {
    #room-settings-admin .room-admin {
        padding: 2.5rem;
    }
}