
#room-announcements {
    padding: 0 3rem;
}

#room-announcements h3 {
    margin-top: 0;
}

#room-announcements h2 {
    color: #bdbdbd;
    opacity: 0.3;
    margin: 0 0 3rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.announcement {
    padding: 0 0 3.25rem 0 !important;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eeeeee;
}

.reactions, .announcement-readmore-cont {
    margin-top: 0.5rem;
    padding: 0 !important;
}

.reactions, .reactions .col {
    text-align: center;
}

.reactions div {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 0 0.5rem;
    padding: 0.5rem !important;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.reactions div span {
    font-size: 1rem;
    z-index: -1000;
    pointer-events: none;
}

.reacted {
    background-color: #ede7f6 !important;
    border: 1px solid #d1c4e9 !important;
}

.announcement-readmore-btn {
    margin-top: 1rem;
    background-color: transparent;
    color: #bdbdbd;
    border: 1.5px solid #eeeeee;
    line-height: 0;
    padding: 1rem;
    box-shadow: none;
}

.announcement-readmore-btn:hover, .announcement-readmore-btn:focus {
    background-color: transparent;
    box-shadow: none;
}

.announcement-title {
    font-weight: 400;
}

.announcement-date {
    color: #bdbdbd;
}

.announcement-body {
    color: #757575;
}

@media (max-width: 600px) {
    .room-flex-s {
        display: flex;
        flex-direction: column;
    }

    #room-attendence-cont {
        padding-bottom: 2rem;
        border-bottom: 1px solid #eeeeee;
    }

    #room-announcements {
        margin-top: 2rem;
        order: 2;
    }
}