#main-nav {
    background-color: transparent;
    box-shadow: none;
    padding: 25px 50px 15px 50px;
    line-height: 55px;
    position: fixed;
}

#main-nav a {
    color: #e23e57;
}

#main-nav a:hover {
    background-color: transparent;
}

#main-nav ul li {
    margin: 0px 10px 0px 10px;
    letter-spacing: 3px;
}

#sign-up-btn {
    border: 1px solid #e23e57;
    text-align: center;
    border-bottom-left-radius: 20px;
    min-width: 100px;
}