#main-nav {
    background-color: transparent;
    box-shadow: none;
    padding: 25px 50px 15px 50px;
    line-height: 50px;
    position: fixed;
}

#main-nav a {
    color: #e23e57;
}

#main-nav a:hover {
    background-color: transparent;
}

#main-nav ul li {
    margin: 0px 10px 0px 10px;
    letter-spacing: 3px;
}

#sign-up-btn {
    border: 1px solid #e23e57;
    text-align: center;
    min-width: 100px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, #e23e57 50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s ease-in-out color;
    padding: 0px 20px 0px 20px;
}

#sign-up-btn:hover {
    background-position: 0% -100%;
    color: white;
}