#main-nav {
    background-color: transparent;
    box-shadow: none;
    padding: 15px 50px 15px 50px;
}

#main-nav a {
    color: #e23e57;
}

#main-nav a:hover {
    background-color: transparent;
}

#main-nav ul li {
    margin: 0px 10px 0px 10px;
}