body {
    overflow: auto !important;
}

#room {
    min-height: 100vh;
    margin-bottom: 15vh;
    padding-bottom: 10vh;
}

#room-cover {
    position: relative;
}

#room-owner-avatar {
    position: absolute;
    bottom: -20%;
    right: 10%;
}

#room-owner-avatar img {
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
}

#room-cover-header {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    max-width: 50%;
}

#room-cover-header h1 {
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 3rem;
    margin: 0;
}

#room-cover-header h5 {
    font-size: 1.5rem;
    opacity: 0.5;
    letter-spacing: 2px;
}

#room-cover-header p {
    text-transform: capitalize;
    margin-top: 1rem;
    opacity: 0.7;
    letter-spacing: 1px;
}

#room-cont {
    min-height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}