.card-fab {
    position: relative;
    z-index: 1;
}

.card-fab a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.small .card-image + .card-content,
.card.medium .card-image + .card-content,
.card.large .card-image + .card-content,
.card.small .card-image + .card-fab + .card-content,
.card.medium .card-image + .card-fab +.card-content,
.card.large .card-image + .card-fab + .card-content {
  max-height: 40%;
}

.card-content {
    text-transform: capitalize;
}

.room-card-location {
    font-size: 0.95rem;
    opacity: 0.5;
}

.card-image-overlay {
    display: block;
    position: relative;
    cursor: pointer;
}

.card-image-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,
     rgba(118, 0, 255, 0.7),
    rgb(0, 0, 0, 0.3));
    cursor: default;
    /*
    background: linear-gradient(
    rgba(118, 0, 255, 0.5), 
    rgba(118, 0, 255, 0.8));*/
}

.room-btn {
    background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.room-btn:hover {
    background-color: #7c4dff;
}

.main-rooms-cont {
    overflow: auto;
    padding-top: 5vh;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 20vh;
    max-height: 80vh;
}

.main-rooms-cont::-webkit-scrollbar { 
    display: none;
}

.main-rooms-header {
}

.tabs {
    box-shadow: 0 5px 5px -5px rgb(85, 85, 85);
    z-index: 1000;
}

.tabs .tab a.active {
    background-color: #f5f5f5;
    color: #7c4dff;
}

.tabs .tab a:hover {
    color: #7c4dff;
    background-color: #f5f5f5;
}

.tabs .tab a {
    color: #bdbdbd;
    background-color: #f5f5f5;
    letter-spacing: 2px;
    font-weight: 100;
}

.tabs .indicator {
    background-color:#7c4dff;
    opacity: 0.5;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #f5f5f5;
}

#create-new-room {
    margin-top: -7.5rem;
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #00e988;
    background-color: #00e988;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    color: #ffffff;
    line-height: 0;
    padding: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    float: right;
}