body {
    overflow: auto !important;
}

#room {
    min-height: 100vh;
    margin-bottom: 15vh;
    padding-bottom: 10vh;
}

#room-cover {
    position: relative;
    margin-bottom: 7.5rem;
}

#room-owner-avatar {
    position: absolute;
    bottom: -20%;
    right: 11%;
}

#room-owner-avatar img {
    border-radius: 50%;
    max-width: 125px;
    max-height: 125px;
}

#room-cover-header {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    max-width: 50%;
}

#room-cover-header h1 {
    font-weight: 800;
    letter-spacing: 5px;
    font-size: 3rem;
    margin: 0;
}

#room-cover-header h5 {
    font-size: 1.5rem;
    opacity: 0.5;
    letter-spacing: 2px;
}

#room-cover-header p {
    text-transform: capitalize;
    margin-top: 1rem;
    opacity: 0.7;
    letter-spacing: 1px;
}

#room-cont {
    min-height: 100vh;
    padding-bottom: 5rem;
    background-color: #ffffff;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
}

#room-checking {
    text-align: center;
}

#room-checking h5 {
    color: #bdbdbd;
    font-size: 1.5rem;
    font-weight: 100;
}

#checkin-btn {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #00e988;
    color: #ffffff;
    background-color: #00e988;
    box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.09);
    line-height: 0;
    padding: 1.75rem 2rem;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 600;
    margin: 2.5rem;
}

#room-attendence-cont h5 {
    color: #bdbdbd;
    font-weight: 100;
    font-size: 1.15rem;
    letter-spacing: 1px;
}

#room-attendence-percentage {
    font-weight: 800;
    font-size: 5rem;
    margin-top: 0;
    letter-spacing: 0px;
}

#room-admin-settings-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
}

#room-admin-settings-btn svg {
    stroke: #ffffff;
    opacity: 0.5;
}

#room-announcements {
    padding: 0 3rem;
    border-right: 1px solid #eeeeee;
}

#room-announcements h3 {
    margin-top: 0;
}

#room-announcements h2 {
    color: #bdbdbd;
    opacity: 0.3;
    margin: 0 0 3rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.announcement {
    padding: 0 0 3.25rem 0 !important;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eeeeee;
}

.reactions, .announcement-readmore-cont {
    margin-top: 0.5rem;
    padding: 0 !important;
}

.reactions, .reactions .col {
    text-align: center;
}

.reactions div {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    margin: 0 0.5rem;
    padding: 0.5rem !important;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.reactions div span {
    font-size: 1rem;
    z-index: -1000;
    pointer-events: none;
}

.reacted {
    background-color: #ede7f6 !important;
    border: 1px solid #d1c4e9 !important;
}

.announcement-readmore-btn {
    margin-top: 1rem;
    background-color: transparent;
    color: #bdbdbd;
    border: 1.5px solid #eeeeee;
    line-height: 0;
    padding: 1rem;
    box-shadow: none;
}

.announcement-readmore-btn:hover, .announcement-readmore-btn:focus {
    background-color: transparent;
    box-shadow: none;
}

.announcement-title {
    font-weight: 400;
}

.announcement-date {
    color: #bdbdbd;
}

.announcement-body {
    color: #757575;
}

@media (max-width: 600px) {
    .room-flex-s {
        display: flex;
        flex-direction: column;
    }

    #room-attendence-cont {
        padding-bottom: 2rem;
        border-bottom: 1px solid #eeeeee;
    }

    #room-announcements {
        margin-top: 2rem;
        order: 2;
    }
}