#discover-menu {
    position: fixed;
    right: 4%;
    top: 25%;
}

#discover-menu ul li {
    font-size: 14px;
    display: block;
    padding: 15px 0px 15px 0px;
    transform: rotate(90deg);
}

#discover-menu #prev, #discover-menu #next {
    color: #88304e;
}

#discover-menu ul li {
    color: #522546;
    text-align: center;
    transition: 0.4s ease-in-out;
}

#discover-menu .active {
    color: #e23e57;
    border-top: 0.5px solid #e23e57;
}