#signup-img-cont {
    background-color: #212121;
    background: 
    linear-gradient(to right, rgba(49, 29, 63, 0.3),
    rgb(49, 29, 63)),
    url("/img/signup/signup4.jpg");
    min-height: 110vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#signup-form-cont {
    overflow-y: scroll;
    max-height: 100vh;
    padding-top: 10%;
}

#signup-form-cont h4 {
    text-align: center;
    max-width: 80%;
    font-size: 18px;
    margin: 50px auto 35px auto;
    color: #88304e;
}

#signup-logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    z-index: 100;
}

#signup-logo a {
    color: #e23e57;
}

#signup-heading {
    text-align: center;
    color: #e23e57;
    font-size: 55px;
    z-index: 100;
    text-transform: capitalize;
    letter-spacing: 5px;
}

#signup-body {
    overflow: hidden;
    background-color: #311d3f;
}

#signup-btn {
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background-color: #e23e57;
}

.disabled-btn {
    opacity: 0.4;
}

#signup-form-cont input {
    color: #88304e;
}

#signup-form-cont input:focus {
    border-bottom: 1px solid #e23e57;
    box-shadow: 0 1px 0 0 #e23e57;
}
  
#signup-form-cont input:focus + label {
    color: #e23e57;
}

input[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #e23e57;
    border-bottom: 2px solid #e23e57;
}

#signup-login {
    text-align: center;
    font-size: 12px;
    margin: 20px auto 0px auto;
    color: #9e9e9e;
}

#signup-login a {
    color: #e23e57;
    border-bottom: 0.5px solid #e23e57;
}

.signup-error {
    color: #e53935;
    font-size: 12px;
}

.toast-error, .toast-success {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
    #signup-body {
        overflow-y: auto;
    }

    #signup-form-cont {
        overflow-y: auto;
        max-height: none;
        margin-top: -85%;
    }

    #signup-logo {
        position: absolute;
    }

    #signup-img-cont {
        background: linear-gradient(
        rgba(49, 29, 63, 0.4), 
        rgba(49, 29, 63, 1)),
        url("/img/signup/signup4.jpg");
        min-height: 100vh; 

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}